{{define "advertiser"}}
<!DOCTYPE html>
<html lang="en">

{{ template "html-head" "DFCTipper - Reach millions of crypto lovers on twitter with easse"}}

    <body id="top">
    {{template "navbar" .}}


       <!-- Intro -->
       <div  class="welcome-stage-advertiser">
        <div class="container">
            <div id="mainSliderArea" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="row d-flex align-items-center">
                
                        <div class="col-12 col-lg-6 push-lg-6">
                            <img src="assets/img/dfc-tipper-img.png" id="bot-image"
                                class="img-fluid bouncing bounce" alt="DFC Tipper Bot">
                        </div>
                        <div class="col-12 col-lg-6 p-3">
                            <h1>10x YOUR GROWTH WITH <span class='yellow-span'>DFC TIPER!</span></h1>
                            <div class=" mt-3 mb-4">
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fa fa-check blue-check"></i></span>Grow your Twitter followers & engagement</li>
                                    <li><span class="fa-li"><i class="fa fa-check blue-check"></i></span>Get tons of leads with ease</li>
                                    <li><span class="fa-li"><i class="fa fa-check blue-check"></i></span>Trend on Twitter within minutes</li>
                                </ul>
                            </div>
                            <div class="d-flex mb-4">
                                <a href="#advertiser" class="blue-button me-3">Get Started Now</a>
                                <a href="#about" class="trans-button">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-6 col-lg-3 dfc-homepage-statistics ">
                            <span>132K+</span>
                            Subscribers
                        </div>
                        <div class="col-6 col-lg-3 dfc-homepage-statistics">
                            <span>112k+</span>
                            Verified Subscribers
                        </div>
                        <div class="col-6 col-lg-3 dfc-homepage-statistics">
                            <span>25k+</span>
                            Avg Retweet Per Post
                        </div>
                        <div class="col-6 col-lg-3 dfc-homepage-statistics">
                            <span>45k+</span>
                            Avg Engagement Per Post
                        </div>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>

    <!-- About -->
    <div id="about" class="white-section-area">
        <div class="container">
            
            <div class="row d-flex align-items-center">
                <div class="col-12 col-lg-12"><h1 class="text-center">About DFC Tiper</h1></div>
                <div class="col-12 col-lg-6 push-lg-6 d-flex justify-content-start">
                    <div class= "product-video card-shadow d-flex justify-content-center align-items-center">
                        <a data-fancybox="" data-width="640" data-height="360" href="/static/assets/dfctiper-advertiser.mp4">
                        
                            <img src="assets/img/dfctipper-video-bg.jpg" class="img-fluid" />
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pe-3">
                    <b class="starter-space">DFCtiper is a unique twitter bot built on telegram and owned by Deficonnect.</b> 
                    It is an easy to use social media token earning and visibility increasing 
                    software that allows users to make lots of money by performing simple programmed tasks while also been 
                    able to tip the bot and get it to grow their social accounts, advertise and run a campaign.<br><Br>  
                    
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="http://t.me/dfctippingbot?start=1152667575" target="_blank"  class="blue-button me-3">Get Started Now</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Support modal -->
    <div class="modal fade" id="supportModal" tabindex="-1" aria-labelledby="supportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Support Desk</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Want quick answers to a question or issue with DFC Tiper? 
                Send us a message using any of our handles below.

                <h4 class="text-black mt-3 mb-3"><b>Support Handles</b></h4>
                <div class="mb-3">
                            
                    
                    <a href="https://t.me/deficonnect" target="_blank" class="support-icon"  ><i
                        class="fab fa-telegram"></i> Telegram</a><br><br>
                        
                    <a href="https://www.facebook.com/deficonnect" target="_blank" class="support-icon">
                        <i class="fab fa-facebook"></i> Facebook 
                    </a><br><br>
                    <a href="https://twitter.com/deficonnect" target="_blank" class="support-icon">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                    
                </div>
            

            </div>
            
        </div>
        </div>
    </div>


    <!-- Advertiser -->
    <div id="advertiser" class="get-started">
        <div class="container">
            <div class="row d-flex align-items-center">
                
                
                <div class="col-12 col-lg-6">
                    
                    <h1>Advertiser Signup</h1>
                    <p class="mt-3 mb-4">
                        Do you desire massive followers on twitter or would you like to 
                        promote your brand, products or service?! DFCtiper is 
                        here to the rescue. Within few minutes, 
                        your post can go viral with thousands of retweets. 
                        Get started with our DFCtiper Advert service today.<br><Br>
                        <b>Benefits of Signing Up</b>
            

                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fa fa-check blue-check"></i></span>Get hundreds of thousands of retweets within minutes.</li>
                            <li><span class="fa-li"><i class="fa fa-check blue-check"></i></span>Get higher brand visibility and engagements.</li>
                            <li><span class="fa-li"><i class="fa fa-check blue-check"></i></span>It's cheaper and more effective than running sponsored ads.</li>
                            <li><span class="fa-li"><i class="fa fa-check blue-check"></i></span>It's the fastest way to grow your followers.</li>
                        </ul>
                        
                    </p>
                </div>
                <div class="col-12 col-lg-6 push-lg-6">
                    <div id="clockdiv">
                        <div class="clock-text">
                            <span>Time left to register: </span>
                            <div class="smalltext d-lg-inline-block d-none">&nbsp;</div>
                        </div>
                        <div>
                        <span class="hours"></span>
                        <div class="smalltext">Hours</div>
                        </div>
                        <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                        </div>
                        <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                    <form action="/contactpostback" method="POST">
                    <div class="card">
                        
                        
                        <div class="card-header">
                            <h4 class="py-2 text-center text-lg-left">Contac Us</h4>
                        </div>
                    
                        <div class="card-body px-4">
                            <div class="mb-3">
                                <input type="hidden" name="advert_form" value="1">
                                <div class="row">
                                    <div class="col-lg-6 mb-3 mb-lg-0">
                                        <label class="form-label">Firstname</label>
                                        <input type="text" name="firstname" required
                                            class="form-control" 
                                            placeholder="Enter your firstname">
                                    </div>
                                    <div class="col-lg-6 ">
                                        <label class="form-label">Lastname</label>
                                        <input type="text" name="lastname" required
                                            class="form-control" 
                                            placeholder="Enter your lastname">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="mb-3">
                                
                                <div class="row">
                                    <div class="col-lg-6 mb-3 mb-lg-0">
                                        <label  class="form-label">Email</label>
                                        <input type="email" name="email" required
                                            class="form-control" 
                                            placeholder="Enter your email">
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="form-label">Phone</label>
                                        <input type="text" name="phone" required
                                            class="form-control" 
                                            placeholder="Enter your Phone Numner">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="mb-3">
                                
                                
                                <label  class="form-label">Twitter Handle</label>
                                <input type="text" name="twitter_handle" 
                                    class="form-control" 
                                    placeholder="Enter your twitter handle">
                        
                                
                            </div>
                            <div class="mb-3 text-center text-lg-left">
                                <button type="submit" class="blue-button block">Send</button>
                            </div>
                            
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <div id="testimonials" class="grey-section-area">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-lg-12">
                    <h1 class="text-center">Testimonials</h1>
                    <p class=" mt-3 text-center">Don't take our word for it. 
                        Here are testimonials from Satisfied advertisers and members of the DFC Tiper community.<br><br>
                    </p>
                </div>
                <div class="offset-lg-3 offset-md-3 col-lg-6 col-md-6  col-12">
                    <div id="dfctipper-testimonials" class="owl-carousel owl-theme testimonial-box card-shadow">
                        <div class="item">
                            <div class="row ">
                                
                                <div class="quote-area"><i class="fa fa-quote-left"></i></div>
                                <div class="testimony-area">
                                    Thanks to DFCtiper my twitter post is getting the visibility it deserve<br><br>

        This is so amazing 3k retweet in one day.. and over 300 followers, this is amazing!!! </div>
                                <div class="testimonial-user">
                                    <b>James Jack</b><br>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="item">
                            <div class="row ">
                                <div class="quote-area"><i class="fa fa-quote-left"></i></div>
                                <div class="testimony-area">This is the cheapest and most efficient marketing
                                    tool I have seen, every one of my post count.<br><br>

                                    I will tell my influencer friends about it. </div>
                                <div class="testimonial-user">
                                    <b>Shadrach Benson</b><br>
                                </div>
                                
                            </div>
                        </div>
                        
                    
                    </div>
                    <div class="mt-4 text-center">
                        <a href="https://twitter.com/deficonnect" target="_blank" class="blue-button">See more on Twitter</a>
                    
                        
                    </div>
                </div>
                
                
                
                
            </div>
        </div>
        
    </div>



    <!-- FAQ -->
    <div id="faq" class="grey-section-area">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-12 col-lg-12 mb-3">
                    <h1 class="text-center">FAQs</h1>
                
                </div>

                <div class="accordion col-12 col-lg-8 offset-lg-2" id="accordionExampleM">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneM">
                                What do I need to Register?
                            </button>
                        </h2>
                    <div id="collapseOneM" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                Twitter Username & Bep20 wallet address.
                                You can get it from trust wallet
                            </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwoM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwoM">
                                How much do I Earn per Task?
                            </button>
                        </h2>
                    <div id="collapseTwoM" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                Presently $DFC400,000
                            </div>
                    </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThreeM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeM">
                                What is the benefit DFCtipper?
                            </button>
                        </h2>
                    <div id="collapseThreeM" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                DFCtiper help you increase social media engagement and visibility of every content you post
                            </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFourM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourM">
                                How can I make more money over a short period?
                            </button>
                        </h2>
                    <div id="collapseFourM" class="accordion-collapse collapse" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                Refer your friends and family by Sharing your referral link on social media plateforms.<br><br>

                                As they perform different task you will make extra DFC 400,000 on each of them
                            </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFiveM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveM">
                                How do I know when their is a task?
                            </button>
                        </h2>
                    <div id="collapseFiveM" class="accordion-collapse collapse" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                You will get a notification from the bot inform of a message on telegram
                            </div>
                    </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSixM">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixM">
                                At what point can I withdraw the money to my wallet?
                            </button>
                        </h2>
                    <div id="collapseSixM" class="accordion-collapse collapse" data-bs-parent="#accordionExampleM">
                            <div class="accordion-body">
                                When you've made upto $DFC 200,000,000
                            </div>
                    </div>
                    </div>

                </div>
                
                
                
            </div>
        </div>
        
    </div>
    

    {{template "footer" .}}
    </body>

</html>
{{end}}