{{define "advertiser-thankyou"}}
<!DOCTYPE html>
<html lang="en">

{{ template "html-head" "DFCTipper - Reach millions of crypto lovers on twitter with ease"}}

    <body id="top">
    {{template "navbar" .}}


       <!-- Intro -->
       <div  class="welcome-stage-advertiser">
        <div class="container">
            <div id="mainSliderArea" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="row d-flex align-items-center">
                
                        <div class="col-12 col-lg-6 push-lg-6">
                            <img src="assets/img/dfc-tipper-img.png" id="bot-image"
                                class="img-fluid bouncing bounce" alt="DFC Tipper Bot">
                        </div>
                        <div class="col-12 col-lg-6 p-3">
                            <h1>Thank you for choosing <span class='yellow-span'>DFC TIPER!</span></h1>
                            <p>Our reps will reach out to you shortly.</p>

                            <p>Click here to join our community to learn more about our other solutions</p>

                            <div class="mb-3">
                            
                    
                                <a href="https://t.me/deficonnect" target="_blank" class="support-icon"  ><i
                                    class="fab fa-telegram"></i> Telegram</a><br><br>
                                    
                                <a href="https://www.facebook.com/deficonnect" target="_blank" class="support-icon">
                                    <i class="fab fa-facebook"></i> Facebook 
                                </a><br><br>
                                <a href="https://twitter.com/deficonnect" target="_blank" class="support-icon">
                                    <i class="fab fa-twitter"></i> Twitter
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>


    {{template "footer" .}}
    </body>

</html>
{{end}}